<template>
  <q-btn icon="far fa-question-circle" flat round dense size="10px" color="blue-9" >
    <q-tooltip style="background-color: #424242; color: white; opacity: 0.9;">
      <span v-for="info in listInfo" :key="info.label">
        <div style="margin-top:4px; color: white;">
          <label style="color: white; text-decoration: underline;">{{info.label}}:</label>&nbsp;&nbsp;{{info.message}}<br/>
        </div>
      </span>
    </q-tooltip>
  </q-btn>
</template>
<script>
import HelpMessages from '../../assets/help-messages'
export default {
  props: ['tipo'],
  data () {
    return {
      helpMessages: HelpMessages
    }
  },
  computed: {
    listInfo () {
      return this.helpMessages[this.tipo]
    }
  }
}
</script>
