<template>
  <q-page class="layout-padding justify-center">
    <!-- <img src="~assets/crea_logo_marcadagua-minerva.png" > -->
    <q-jumbotron>
      <div class="q-display-2">Gerênciamento de Processos Digitais</div>
      <br>
      <div class="q-subheading">
        Encontra-se disponível nessa aplicação as seguintes releases:
       <p><div class="q-caption"><q-icon name="done"/>&nbsp;Cadastro / Edição / Consulta de Processos Judiciais</div>
       <p><div class="q-caption"><q-icon name="done"/>&nbsp;Cadastro / Edição / Consulta de Responsáveis</div>
      </div>
    </q-jumbotron>
  </q-page>
</template>

<script>
export default {
  name: 'Home',
  props: ['token'],
  data () {
    return {
      opened: false
    }
  },
  created () {
  }
}
</script>

<style>
</style>
