<template>
  <q-page class="layout-padding justify-center">
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Processos" icon="account_box" />
    </q-breadcrumbs>
    <br>
     <br>
     <br>
    <q-table
      ref="table"
      class="no-border-grid"
      rows-per-page-label="Endereços por página:"
      color="primary"
      row-key="cpf"
      :data="listResponsaveis"
      :columns="columns"
      :pagination.sync="serverPagination"
      :loading = loading
      :pagination-label="(inicio, fim, total) => {return inicio + '-' + fim + ' de ' + total}"
      @request="request"
      no-data-label = "Não possui nenhum responsável cadastrado.">
    <q-tr slot="body" slot-scope="props" :props="props">
      <q-td key="nome" :props="props">
       <small class="text-italic">{{ props.row.nome }}</small>
      </q-td>
      <q-td key="cpf" :props="props">
       <small class="text-italic">{{ props.row.cpf}}</small>
      </q-td>
      <q-td key="email" :props="props">
        <small class="text-italic">{{ props.row.email}}</small>
      </q-td>
      <q-td key="acao" :props="props">
            <q-btn-dropdown label="Ações"
                color="dark" size="10px"
                flat rounded>
                <q-list link>
                  <q-item v-close-overlay @click.native="$refs.modalResponsavel.editar(props.row)">
                    <q-item-side color="dark" icon="edit" />
                    <q-item-main >
                      Editar
                    </q-item-main>
                  </q-item>
                   <q-item v-close-overlay @click.native="$refs.modalPreview.toggle(props.row)"  >
                    <q-item-side color="dark" icon="visibility" />
                    <q-item-main>
                      Protocolos Vinculados
                    </q-item-main>
                  </q-item>
                  <q-item v-close-overlay @click.native="excluir(props.row.id)">
                    <q-item-side color="red-9" icon="clear" />
                    <q-item-main >
                      Excluir
                    </q-item-main>
                  </q-item>
                </q-list>
            </q-btn-dropdown>
      </q-td>
    </q-tr>
      <template slot="top-right" slot-scope="props">
        <q-btn rounded
          color="green"
          icon="note_add"
          size="sm"
          @click.native="$refs.modalProcesso.toggle()"
          label="Cadastrar novo Processo" />
      </template>
    </q-table>
    <modal-processo
          ref="modalProcesso"
          tipo="GRID"
          />
    <br>
  </q-page>
</template>
<script>
import { filter } from 'quasar'
import Botao from '../components/button/botao'
import ModalProcesso from '../components/modais/modal-processos'
import { mask } from 'vue-the-mask'
export default {
  directives: { mask },
  components: { Botao, ModalProcesso },
  created () {
    this.pesquisa.page = 0
    this.pesquisa.rows = 5
    this.pesquisa.cpf = ''
    this.pesquisa.email = ''
    this.pesquisa.nome = ''
  },
  data () {
    return {
      opcaoFiltro: null,
      serverPagination: {
        page: 1,
        rowsNumber: 5
      },
      pesquisa: {
        page: null,
        rows: null,
        nome: '',
        cpf: '',
        email: ''
      },
      termsNomeResponsavel: '',
      listResponsaveis: [],
      columns: [
        { name: 'nome', align: 'left', label: 'Nome', field: 'nome' },
        { name: 'cpf', align: 'center', label: 'CPF', field: 'cpf' },
        { name: 'email', align: 'center', label: 'Email', field: 'email' },
        { name: 'acao', align: 'center', label: '', field: 'acao' }
      ],
      loading: false
    }
  },
  methods: {
    async searchResponsavel (terms, done) {
      this.pesquisa.nome = terms
      this.getResponsaveis()
      done(filter(terms, {field: 'value', list: []}))
    },
    request (props) {
      this.pesquisa.rows = props.pagination.rowsPerPage
      this.serverPagination = props.pagination
      this.pesquisa.page = props.pagination.page
    },
    async getResponsaveis () {
      this.pesquisa.page = 0
      this.listResponsaveis = []
      await this.$axios
        .get('responsaveis' + '?' + 'nome=' + this.pesquisa.nome + '&page=' + this.pesquisa.page + '&rows=' + this.pesquisa.rows)
        .then(result => {
          this.listResponsaveis = result.data.dataLists
        })
    },
    excluir (id) {
      this.$axios
        .delete('responsaveis' + '/' + id)
        .then(result => {
          this.listResponsaveis = []
        })
    }
  }
}
</script>
