<template>
  <div>
    <q-modal v-model="opened" :content-css="{minWidth: '85vw', minHeight: '85vh'}">
        <q-modal-layout>
            <q-toolbar slot="header" text-color="white" color="primary">
                <q-toolbar-title align="center" v-show="!edit">
                    Cadastrar Processo
                </q-toolbar-title>
                <q-toolbar-title align="center" v-show="edit">
                    Atualizar Processo
                </q-toolbar-title>
                <q-btn
                    flat
                    round
                    dense
                    color="white"
                    icon="clear"
                    v-close-overlay/>
                </q-toolbar>
            <div class="row gutter-x-sm" style="padding: 35px">
                <div class="col-3">
                  <q-input
                    placeholder="Número Unificado"
                    class="full-width q-mt-md"
                    :error="$v.form.numero.$error"
                    v-model="form.numero"
                    v-mask="['###.###.###-##']"
                    float-label="Número Unificado"
                     />
                </div>
                <div class="col-2" style="margin-top: 15px">
                    <q-input type="date"
                    v-model="form.dataDistribuicao"
                    stack-label="Data Distribuição"
                    color="secondary"/>
                </div>
                <div class="col-2">
                <q-select
                    style="margin-top: 15px"
                    float-label="Situação"
                    v-model="form.situacao"
                    :options="listSituacao"
                    />
                </div>
                <div class="col-3">
                  <q-input
                    placeholder="Pasta"
                    class="full-width q-mt-md"
                    v-model="form.pasta"
                    float-label="Pasta física cliente"
                     />
                </div>
                <div class="col-2">
                <q-checkbox
                style="margin-top: 50px;"
                color="red-9" keep-color
                class="q-mb-sm"
                v-model="form.segredoDeJustica"
                            label="Segredo de Justíça" />
                </div>
            </div>
            <!-- Linha 2 Responsáveis e Descrição -->
            <div class="row gutter-x-lg" style="padding: 35px">
                <div class="col-6">
                    <q-card>
                    <q-card-main>
                        <q-field icon="fas fa-asterisk"
                                icon-color="red-9">
                        Responsáveis
                        </q-field>
                        <q-item>
                        <q-item-main>
                            <q-item-tile sublabel lines="0">
                            <p v-for="item in form.lisResponsaveis" link :key="item.id" class="q-mt-md">
                                <span :title="item.nome">{{item.nome}}</span>
                                <q-btn
                                    size="sm" flat rounded dense color="dark"
                                    @click="deletaItem(item.id)" icon="clear" /><br/>
                            </p>
                            </q-item-tile>
                        </q-item-main>
                        </q-item>
                    </q-card-main>
                    </q-card>
                </div>
                <div class="col-6">
                    <q-input v-model="form.descricao"
                            float-label="Descrição "
                            type="textarea"
                            inverted-light
                            maxlength="200"
                            rows="4"
                            color="yellow-1"
                            />
                </div>
            </div>
            <!-- Linha 3 Processo vinculado -->
            <div class="row gutter-x-lg" style="padding: 35px">
                <div class="col-9">
                <q-card>
                    <q-card-main>
                        <q-field icon="fas fa-asterisk"
                                icon-color="red-9">
                        Responsáveis
                        </q-field>
                        <q-item>
                        <q-item-main>
                            <q-item-tile sublabel lines="0">
                            <p v-for="item in form.lisResponsaveis" link :key="item.id" class="q-mt-md">
                                <span :title="item.nome">{{item.nome}}</span>
                                <q-btn
                                    size="sm" flat rounded dense color="dark"
                                    @click="deletaItem(item.id)" icon="clear" /><br/>
                            </p>
                            </q-item-tile>
                        </q-item-main>
                        </q-item>
                    </q-card-main>
                    </q-card>
                </div>
                <div class="col-3" >
                      <q-btn v-show="!edit" rounded
                        class="full-width q-mt-md"
                        color="primary"
                        outline
                        icon="save"
                        size="sm"
                        label="Cadastrar Processo"
                        @click="submit"
                        :loading="loading"
                         />
                     <q-btn v-show="edit" rounded
                        color="primary"
                         class="full-width q-mt-md"
                        outline
                        icon="update"
                        size="sm"
                        label="Editar Processo"
                        @click="update"
                        :loading="loading"
                         />
                </div>
            </div>
            </q-modal-layout>
        </q-modal>
    </div>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import { mask } from 'vue-the-mask'
import listSituacao from '../../assets/listSituacao.js'
export default {
  directives: {mask},
  created () {
    this.form.segredoDeJustica = false
    this.lisResponsaveis = [
      {id: 1, nome: 'Ricardo Leite'},
      {id: 2, nome: 'Ana Maria'},
      {id: 3, nome: 'Marcelo Vieira'}
    ]
  },
  data () {
    return {
      edit: false,
      url: '#',
      listSituacao,
      loading: false,
      opened: false,
      form: {
        numero: '',
        dataDistribuicao: '',
        situacao: {},
        lisResponsaveis: [],
        pasta: '',
        segredoDeJustica: false
      }
    }
  },
  validations: {
    form: {
      numero: { required },
      dataDistribuicao: { required },
      situacao: { required },
      pasta: { required }
    }
  },
  methods: {
    submit () {
      this.$v.$touch()
      if (this.$v.form.$error) {
        this.$q.notify('Por favor, preencha todos os dados')
      } else {
        this.$axios
          .post('responsaveis', { nome: this.form.nome, cpf: this.form.cpf.replace(/\./g, '').replace(/-/g, '').replace(/\//g, ''), email: this.form.email })
          .then(result => {
            console.log(result)
            this.$q.notify({ message: 'Responsável cadastrado com Sucesso!' })
          })
        this.limpaCampos()
        this.opened = false
      }
      this.loading = true
      setTimeout(() => {
        this.loading = false
      }, 3000)
    },
    update () {
      this.$v.$touch()
      if (this.$v.form.$error) {
        this.$q.notify('Por favor, preencha todos os dados')
      } else {
        this.$axios
          .put('responsaveis', { nome: this.form.nome, cpf: this.form.cpf.replace(/\./g, '').replace(/-/g, '').replace(/\//g, ''), email: this.form.email })
          .then(result => {
            console.log(result)
            this.$q.notify({ message: 'Responsável cadastrado com Sucesso!' })
          })
        this.limpaCampos()
        this.opened = false
      }
      this.loading = true
      setTimeout(() => {
        this.loading = false
      }, 3000)
    },
    validaEmail () {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        this.$q.notify({message: 'Informe um e-mail válido.', type: 'negative', position: 'center'})
      }
    },
    toggle () {
      this.$v.$reset()
      this.opened = !this.opened
      this.limpaCampos()
    },
    deletaItem (id) {

    },
    editar (responsavel) {
      this.edit = true
      this.$v.$reset()
      this.form = responsavel
      this.opened = !this.opened
    },
    limpaCampos () {
      this.form = {
        nome: '',
        cpf: '',
        email: ''
      }
    }
  }
}
</script>
