<template>
  <div>
    <q-modal v-model="opened" :content-css="{minWidth: '30vw', minHeight: '30vh'}">
        <q-modal-layout>
            <q-toolbar slot="header" text-color="white" color="primary">
                <q-toolbar-title align="center" v-show="!edit">
                    Cadastar Responsável
                </q-toolbar-title>
                <q-toolbar-title align="center" v-show="edit">
                    Atualizar Responsável
                </q-toolbar-title>
                <q-btn
                    flat
                    round
                    dense
                    color="white"
                    icon="clear"
                    v-close-overlay/>
                </q-toolbar>
                <div style="padding: 35px">
                  <div class="row gutter-x-lg">
                    <div class="col-12">
                      <q-input float-label="Nome:"
                      style="margin-top: 15px"
                        v-model="form.nome"
                        :error="$v.form.nome.$error"/>
                    </div>
                    <div class="col-12">
                     <q-input placeholder="Digite seu CPF"
                        class="full-width q-mt-md"
                        :error="$v.form.cpf.$error"
                        v-model="form.cpf"
                        v-mask="['###.###.###-##']"
                        float-label="CPF"
                     />
                    </div>
                    <div class="col-12">
                        <q-input type="email"
                        float-label="Email"
                        color="green-1"
                        inverted-light
                        v-model.trim="form.email"
                        @blur="$v.form.email.$touch"
                        :error="$v.form.email.$error" />
                    </div>
                  </div>
                  <div class="col-12">
                    <!-- <q-uploader float-label="Anexar Arquivo PDF" extensions=".pdf" multiple :url="url" auto-expand /> -->
                  </div>
                  <div class="row justify-end" style="margin-top: 20px">
                    <q-btn v-show="!edit" rounded
                        color="primary"
                        outline
                        icon="save"
                        size="sm"
                        label="Cadastrar Responsável"
                        @click="submit"
                        :loading="loading"
                         />
                     <q-btn v-show="edit" rounded
                        color="primary"
                        outline
                        icon="update"
                        size="sm"
                        label="Atualizar Responsável"
                        @click="update"
                        :loading="loading"
                         />
                  </div>
                </div>
            </q-modal-layout>
        </q-modal>
    </div>
</template>
<script>
import { required, email } from 'vuelidate/lib/validators'
import { mask } from 'vue-the-mask'
export default {
  directives: {mask},
  data () {
    return {
      edit: false,
      url: '#',
      loading: false,
      opened: false,
      form: {
        nome: '',
        cpf: '',
        email: ''
      }
    }
  },
  validations: {
    form: {
      nome: { required },
      cpf: { required },
      email: { required, email }
    }
  },
  methods: {
    submit () {
      this.$v.$touch()
      if (this.$v.form.$error) {
        this.$q.notify('Por favor, preencha todos os dados')
      } else {
        this.$axios
          .post('responsaveis', { nome: this.form.nome, cpf: this.form.cpf.replace(/\./g, '').replace(/-/g, '').replace(/\//g, ''), email: this.form.email })
          .then(result => {
            console.log(result)
            this.$q.notify({ message: 'Responsável cadastrado com Sucesso!' })
          })
        this.limpaCampos()
        this.opened = false
      }
      this.loading = true
      setTimeout(() => {
        this.loading = false
      }, 3000)
    },
    update () {
      this.$v.$touch()
      if (this.$v.form.$error) {
        this.$q.notify('Por favor, preencha todos os dados')
      } else {
        this.$axios
          .put('responsaveis', { nome: this.form.nome, cpf: this.form.cpf.replace(/\./g, '').replace(/-/g, '').replace(/\//g, ''), email: this.form.email })
          .then(result => {
            console.log(result)
            this.$q.notify({ message: 'Responsável cadastrado com Sucesso!' })
          })
        this.limpaCampos()
        this.opened = false
      }
      this.loading = true
      setTimeout(() => {
        this.loading = false
      }, 3000)
    },
    validaEmail () {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        this.$q.notify({message: 'Informe um e-mail válido.', type: 'negative', position: 'center'})
      }
    },
    toggle () {
      this.$v.$reset()
      this.opened = !this.opened
      this.limpaCampos()
    },
    editar (responsavel) {
      this.edit = true
      this.$v.$reset()
      this.form = responsavel
      this.opened = !this.opened
    },
    limpaCampos () {
      this.form = {
        nome: '',
        cpf: '',
        email: ''
      }
    }
  }
}
</script>
