<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">
      <title>Softplan Gestão de Processos</title>

      <link rel="icon" type="image/png" sizes="192x192"  href="https://www.softplan.com.br/wp-content/themes/softplan-2019/imagens/favicons/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="https://www.softplan.com.br/wp-content/themes/softplan-2019/imagens/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="https://www.softplan.com.br/wp-content/themes/softplan-2019/imagens/favicons/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="https://www.softplan.com.br/wp-content/themes/softplan-2019/imagens/favicons/favicon-16x16.png">
    <!--Google reCAPTCHA-->
  </head>
  <body>
    <% if (!htmlWebpackPlugin.options.ctx.mode.electron) { %>
      <noscript>
        This is your fallback content in case JavaScript fails to load.
      </noscript>
    <% } %>

    <!-- DO NOT touch the following <div> -->
    <div id="q-app"></div>

  </body>
</html>
