<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar color="primary">
        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
          <q-icon name="menu" />
        </q-btn>
        <q-toolbar-title>
          <img  style=" width: 100px; height: auto;" src="https://www.softplan.com.br/wp-content/themes/softplan-2019/imagens/logo-softplan.svg" class="responsive">
          <div slot="subtitle">Gestão de processos a um clique</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>
    <q-layout-drawer v-model="leftDrawerOpen" :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null" >
        <br />
      <q-btn size="15px" class="full-width" align="left" @click.native="home" color="grey-8" flat>
        <q-icon size="25px" color="grey-7" name="home"/>&nbsp;&nbsp;<q-item>Página Inicial</q-item>
      </q-btn>      <q-btn size="15px" class="full-width" align="left" color="grey-8" @click.native="processos" flat>
        <q-icon size="20px" color="grey-7" name="library_books" />
        &nbsp;&nbsp;&nbsp;&nbsp;<q-item>Processos</q-item>
      </q-btn>

      <q-btn size="15px" class="full-width" align="left" color="grey-8" @click.native="responsavel" flat>
        <q-icon size="20px" color="grey-7" name="account_box" />
        &nbsp;&nbsp;&nbsp;&nbsp;<q-item>Responsáveis</q-item>
      </q-btn>
      <br>
      <q-card style="position: fixed; bottom: 0; left: 0; border-color: #eeeeee;">
        <q-item>
          <small class="text-grey-6">Copyright © Softplan. Todos diretos reservados.</small>
        </q-item>
      </q-card>
    </q-layout-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
<script>
import { openURL } from 'quasar'
export default {
  name: 'LayoutDefault',
  created () {
  },
  data () {
    return {
      user: {},
      leftDrawerOpen: this.$q.platform.is.desktop,
      selected: null,
      situacao: ''
    }
  },
  methods: {
    openURL,
    home () {
      this.$router.push('/')
    },
    responsavel () {
      this.$router.push('/responsaveis')
    },
    processos () {
      this.$router.push('/processos')
    }
  }
}
</script>
